h1 {
  margin: 20px;
}

p {
  margin-left: 15px;
  margin-bottom: 10px;
}

.info {
  width: 300px;
  min-height: 870px;
  background-color: rgb(16, 157, 159);
  color: white;
  display: inline-block;
}

.infoTxt {
  margin: 20px;
}

img {
  width: 100%;
}
